%h2 Markup2PDF
%p 
  Converts your markupped text to pdf. You can use at the moment 
  %a{:href => 'http://daringfireball.net/projects/markdown/syntax'} Markdown
  or
  %a{:href => 'http://redcloth.org/hobix.com/textile/'} Textile.
%form{ :action => "converted", :method => "post"}
  %input{:type => "submit", :value => "PDF", :name => "format",  :class => "button"}
  %input{:type => "submit", :value => "HTML", :name => "format", :class => "button"}
  %br
  %label{:for => "converter"} what converter do you want to use?
  %select{:name => 'converter'}
    %option{:value => "markdown", :selected => 'selected'} Markdown
    %option{:value => "textile"} Textile
  %br
  %textarea{:name => "text", :cols => 150, :rows => 100} # Hello world
  %br
  %input{:type => "submit", :value => "PDF", :name => "format",  :class => "button"}
  %input{:type => "submit", :value => "HTML", :name => "format", :class => "button"}
